@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:light,regular,600&subset=cyrillic,latin);






/*------------------------------------------------------------------
@group Buttons
------------------------------------------------------------------*/

.map-button {
    cursor:pointer;
    margin-left: 0;
    box-sizing: content-box;
    min-width: 54px;*min-width:70px;/*hello,IE7!*/
    border:1px solid #DCDCDC;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
    -webkit-user-select:none;
    -moz-user-select:none;
}

.map-button:hover, .map-button.hover {
    border: 1px solid #C6C6C6;
    color: #222;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.map-button:active, .map-button.active {
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#f1f1f1');
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.map-button.active{
    border: 1px solid #C6C6C6;
    color: #333;
}

.map-button:visited {
    color: #666;
}
.map-button.focus, .map-button.right.focus, .map-button.mid.focus, .map-button.left.focus{
    outline: none;
    border: 1px solid #4d90fe;
    z-index:4 !important;
}

.map-button.selected {
    background-color: #EEEEEE;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#EEEEEE),to(#E0E0E0));
    background-image: -webkit-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: -moz-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: -ms-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: -o-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: linear-gradient(top,#EEEEEE,#E0E0E0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE',EndColorStr='#E0E0E0');
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    border: 1px solid #CCC;
    color: #333;
}
.map-button input[type=checkbox] {
    position: relative;
    top: 3px;
}

.map-button img {
    display: inline-block;
    margin: -3px 0 0;
    opacity: 0.667;
    *margin:4px 0 0; /*IE7*/
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}

.map-button.selected img {
    opacity: 0.9;
}
.map-button:hover img {
    opacity: 0.9;
}
.map-button:active img {
    opacity: 1.0;
}

/*disabled buttons*/
.map-button.disabled, .map-button.disabled:hover, .map-button.disabled:active {
    background: #FFF;
    color: #b8b8b8;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(0,0,0,0.05);
    cursor: default;
    pointer-events: none;
}
.map-button.disabled.active{
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.map-button-submit.disabled, .map-button-submit.disabled:hover, .map-button-submit.disabled:active {
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: #FFF;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.map-button-share.disabled, .map-button-share.disabled:hover, .map-button-share.disabled:active {
    border: 1px solid #29691d;
    background-color: #3d9400;
    color: #FFF;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.map-button-red.disabled, .map-button-red.disabled:hover, .map-button-red.disabled:active {
    border: 1px solid transparent;
    background-color: #d14836;
    color: #FFF;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.map-button-green.disabled, .map-button-green.disabled:hover, .map-button-green.disabled:active {
    border: 1px solid transparent;
    background-color: #3d9400;
    color: #FFF;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.map-button.disabled img {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

/* @group Colored Buttons */

.map-button-submit:focus, .map-button-submit.focus,
.map-button-share:focus, .map-button-share.focus,
.map-button-red:focus, .map-button-red.focus{
    box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
}
.map-button-share:focus, .map-button-share.focus{
    border-color:#29691d;
}
.map-button-red:focus, .map-button-red.focus{
    border-color:#d14836;
}

.map-button-submit:focus:hover, .map-button-submit.focus:hover,
.map-button-share:focus:hover, .map-button-share.focus:hover,
.map-button-red:focus:hover, .map-button-red.focus:hover{
    box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
}

.map-button-submit {
    border: 1px solid #3079ed;
    color: #FFF;
    background-color: #4d90fe;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
    background-image: linear-gradient(top,#4d90fe,#4787ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
}
.map-button-submit:hover {
    border: 1px solid #2f5bb7;
    color: #FFF;
    background-color: #357ae8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
    background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
    background-image: linear-gradient(top,#4d90fe,#357ae8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#357ae8');
}
.map-button-submit:active, .map-button-submit:focus:active, .map-button-submit.focus:active {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

.map-button-share {
    color: #FFF;
    text-shadow: 0px 1px rgba(0,0,0,0.1);
    border: 1px solid #29691d;
    background-color: #3d9400;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#398a00));
    background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
    background-image: -moz-linear-gradient(top,#3d9400,#398a00);
    background-image: -ms-linear-gradient(top,#3d9400,#398a00);
    background-image: -o-linear-gradient(top,#3d9400,#398a00);
    background-image: linear-gradient(top,#3d9400,#398a00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#398a00');
}
.map-button-share:hover {
    border: 1px solid #2D6200;
    color: #FFF;
    text-shadow: 0px 1px rgba(0,0,0,0.3);
    background-color: #368200;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3d9400),to(#368200));
    background-image: -webkit-linear-gradient(top,#3d9400,#368200);
    background-image: -moz-linear-gradient(top,#3d9400,#368200);
    background-image: -ms-linear-gradient(top,#3d9400,#368200);
    background-image: -o-linear-gradient(top,#3d9400,#368200);
    background-image: linear-gradient(top,#3d9400,#368200);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3d9400',EndColorStr='#368200');
}
.map-button-share:active, .map-button-share:focus:active, .map-button-share.focus:active {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.map-button-red {
    margin-bottom: 16px;
    border: 1px solid transparent;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing:1;
    background-color: #d14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#d14836');
    text-shadow: 0px 1px rgba(0,0,0,0.1);
}
.map-button-red:hover {
    border: 1px solid #b0281a;
    border-bottom: 1px solid #AF301F;
    color: #FFF;
    background-color: #c53727;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
    background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
    background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
    background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
    background-image: -o-linear-gradient(top,#dd4b39,#c53727);
    background-image: linear-gradient(top,#dd4b39,#c53727);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#c53727');

    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}
.map-button-red:active, .map-button-red:focus:active, .map-button-red.focus:active {
    border: 1px solid #992A1B;
    background-color: #b0281a;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
    background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
    background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
    background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
    background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
    background-image: linear-gradient(top,#dd4b39,#b0281a);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}
.map-button-red:visited, .map-button-share:visited, .map-button-submit:visited {
    color: #FFF;
}



/*------------------------------------------------------------------
clearfix
------------------------------------------------------------------*/
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; } /*i'm leaving these in case we end up needing them*/
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*------------------------------------------------------------------
notes boxes
------------------------------------------------------------------*/
.notesBox{
    clear:both;
    background:#f1f1f1;
    padding:10px;
}
.notesBox .map-disclosureindicator {
    position:relative;
    top:-2px;
    cursor:pointer;
    margin-right: 15px;
}
.notesBox .map-zippy > h3{
    display: block;
    margin-left:11px;
    cursor:pointer;
}
.notesBox .map-zippycontent{
    height:100%;
    background: white;
    z-index: 1000;
    padding: 0 10px;
    margin-left: -10px;
    margin-top: 10px;
    margin-bottom: -10px;
}
.notesBox .inner{
    background: white;
    padding: 0 10px;
    z-index: 1000;
	width: 470px;
}
.notesBox .notes{
    width:48%;
    float:left;
    padding-top:24px;
    padding-right:2%;
}
.notesBox .metrics{
    width:50%;
    float:right;
    padding-top:24px;
}

/*------------------------------------------------------------------
 Custom OAuth Playground
 ------------------------------------------------------------------*/

.uriLink, .httpMethodLink {
    cursor: pointer;
}
.uriLink:HOVER, .httpMethodLink:HOVER {
    text-decoration: underline;
}
#accessTokenExpired, #accessTokenCountDown {
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    opacity: 1;
    filter: alpha(opacity = 100);
    height: auto;
    margin: 0 0 10px 0;
}
#accessTokenExpired.hidden, #accessTokenCountDown.hidden {
    opacity: 0;
    filter: alpha(opacity = 0);
    height: 0;
    margin: 0 0 0 0;
}

#headerList {
    border-collapse: collapse;
    margin-top: 20px;
}
#headerList td, #headerList th {
    padding: 5px 0px 5px 10px;
}
#headerList td:first-child, #headerList th:first-child {
    border-right: 1px solid rgba(0,0,0,0.05);
    padding-left: 0px;
    padding-right: 10px;
}
#headerList th {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    font-weight:bold;
padding-top:0;
}
.stepNumber {
    visibility:hidden;
    border-radius: 12px;
    width: 24px;
    background-color: #DD4B39;
    position:absolute;
    z-index: 6;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    font-weight: bold; color: white;
    padding-left: 1px;
}
#requestResponseError {
    font-size: 16px;
    color: red;
    margin-top:15px;
}
.requestResponseEmpty {
    font-size: 16px;
    color: gray;
    font-style:italic;
    margin-top:15px;
}
#requestResponseContent {
    font-family: monospace;
}


#requestResponseContent #response {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}

#requestResponseContent .body {
    margin-top: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#requestResponseContent .header {
    word-wrap:break-word;
    overflow-wrap: break-word;
}
#request .header {
    margin-top:15px;
}

#requestResponseError.hidden, #requestResponseEmpty.hidden,
#requestResponseContent.hidden, #waitingWheel.hidden{
    display:none;
}

.explanation {
    padding: 10px 20px 10px 20px;
    margin: 0 -10px 15px -10px;
    color: #444;
    background-color: #f6f6f6;
    border: solid #e5e5e5;
    border-width: 0 0 1px 0;
    text-align: justify;
}

p.note {
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
}

#customOAuthExplanation, #oauthCredSection, #defaultOauthCredCheckbox.hidden {
    display: none;
}

#customOAuthExplanation.visible, #oauthCredSection.visible, #defaultOauthCredCheckbox {
    display: block;
    margin-top: 10px;
}

#oauthConfigBubble {
    width: 435px;
    position: absolute;
    left: -376px;
    top: 38px;
    padding:6px;
}
#oauthConfigBubbleContainer {
    overflow-x: hidden;
    overflow-y: auto;
    padding:10px 0 10px 10px;
}
span.disabled {
    color: gray;
}
#fileInfo.error {
    color: red;
}
#fileInfo {
    color: #888;
    margin-left: 15px;
}

/*------------------------------------------------------------------
 Syntax Highlight
 ------------------------------------------------------------------*/

.str{color:#363}
.kwd{color:#339}
.com{color:#DD4B39}
.typ{color:#DD4B39}
.lit{color:#363}
.pun{color:#660}
.pln{color:#222}
.tag{color:#339}
.atn{color:#DD4B39}
.atv{color:#363}
.dec{color:#DD4B39}


/*------------------------------------------------------------------
 Timeline Playground
 ------------------------------------------------------------------*/

#clientId {
    width: 270px;
}

.appBarButton {
    position: relative;
    display: inline-block;
}

.appBarActionButton {
    margin-left: 10px;
    position: relative;
    display:inline-block;
}

.mainContainer {
    max-width: 1040px;
    height: 100%;
    overflow: hidden;
}

.topContainer {
    float:left;
    max-height: 560px;
    height: 400px;
    padding-top: 35px;
    padding-left: 10px;
    transition: height .1s ease-in-out;
    -moz-transition: height .1s ease-in-out;
    -ms-transition: height .1s ease-in-out;
    -o-transition: height .1s ease-in-out;
    -webkit-transition: height .1s ease-in-out;
}

.topContainerExtended {
    height: 470px;
}

#bottomContainer {
    float: left;
    width: 100%;
    min-height: 400px;
    margin-right: -1px;
}

#smallCardsTabs {
    border: none;
}

.smallCardList {
    border: none;
    overflow: hidden;
    width: 100%;
    height: 250px;
    float: left;
    margin-right: 20px;
    padding: 0;
}

.smallCardList > .scrollBarBox {
    border: 0;
    overflow:hidden;
}

.smallCardContainer {
    overflow-y: hidden;
    margin: 0 -10px -10px -10px;
    padding: 20px 0 0 0;
}

.smallCardContainer > p {
    padding-left: 50px;
}

.sourceContainer {
    float: left;
    width: 365px;
    height: 398px;
    margin-left: 20px;
    opacity: 0.3;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}

.sourceContainer:hover, .sourceContainer.editing {
    opacity: 1;
}

.sourceBox {
    float: left;
    width: 345px;
    height: 338px;
    padding: 10px;
    color: gray;
    display: block;
    font-family: monospace;
    font-size: 16px;
    font-variant: normal;
    font-weight: normal;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    overflow-x: hidden;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -ms-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -o-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
}

.sourceContainer > .map-buttonbar {
    padding-top: 15px
}

#preview {
    float: left;
    width: 640px;
    height: 360px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -ms-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -o-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.1);
}

#menuItemBox {
    width: 640px;
    position: absolute;
    top: 470px;
    border: 0;
    overflow: hidden;
    display: none;
}

#menuItemBox > .scrollBarInner {
    height: 92px;
}

#menuItemList {
    min-width: 200px;
    overflow-y: hidden;
    height: 82px;
    margin: 0 -10px -10px 0;
}


.smallcard {
    width: 272px;
    height: 164px;
}

.carditem {
    padding-left: 10px;
    width: 272px;
    height: 164px;
    overflow: hidden;
    display: inline;
}

.ui-datasection-main .selector {
    text-align: left;
    padding: 0;
}

.menuItem {
    width: 128px;
    height: 72px;
    overflow: hidden;
    display: inline-table;
    background-color: black;
    cursor: pointer;
    margin-left: 10px;
}

.menuItem:first-child {
    margin-left: 0px;
}

.menuItemValue {
    padding: 27px 0;
}

.menuItemIcon {
    padding-right: 2px;
    width: 14px;
    height: 14px;
}

.menuItemDisplayName {
    font-size: 14px;
    display: inline;
    color: white;
}
