.map-appbar {
  border-bottom: 1px solid #ebebeb;
}

.map-appbar h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 29px;
  color: #DD4B39;
  white-space: nowrap;
}

.button-red {
  margin-bottom: 0;
  outline: none;
}

.button-red:hover {
  text-decoration: none;
}

.button-red:focus {
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5);
}

.row p {
  margin: 1.5em 0 0.5em 0;
}

#flash {
  color: #DD4B39;
  font-style: italic;
}

.button {
    cursor:pointer;
    margin-left: 0;
    box-sizing: content-box;
    min-width: 54px;*min-width:70px;/*hello,IE7!*/
    border:1px solid #DCDCDC;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    color: #444;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    padding: 0 8px;
    line-height: 27px;
    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5',EndColorStr='#f1f1f1');
    -webkit-user-select:none;
    -moz-user-select:none;
}

.button:hover, .button.hover {
    border: 1px solid #C6C6C6;
    color: #222;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.button:active, .button.active {
    background-color: #f6f6f6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
    background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f6f6f6',EndColorStr='#f1f1f1');
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.button.active{
    border: 1px solid #C6C6C6;
    color: #333;
}

.button:visited {
    color: #666;
}
.button.focus, .button.right.focus, .button.mid.focus, .button.left.focus{
    outline: none;
    border: 1px solid #4d90fe;
    z-index:4 !important;
}

.button.selected {
    background-color: #EEEEEE;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#EEEEEE),to(#E0E0E0));
    background-image: -webkit-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: -moz-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: -ms-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: -o-linear-gradient(top,#EEEEEE,#E0E0E0);
    background-image: linear-gradient(top,#EEEEEE,#E0E0E0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#EEEEEE',EndColorStr='#E0E0E0');
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    border: 1px solid #CCC;
    color: #333;
}
.button input[type=checkbox] {
    position: relative;
    top: 3px;
}

.button img {
    display: inline-block;
    margin: -3px 0 0;
    opacity: 0.667;
    *margin:4px 0 0; /*IE7*/
    margin-left: 0px;
    margin-right: 0px;
    vertical-align: middle;
}

.button.selected img {
    opacity: 0.9;
}

.button:hover img {
    opacity: 0.9;
}

.button:active img {
    opacity: 1.0;
}

.button.disabled, .button.disabled:hover, .button.disabled:active {
    background: #FFF;
    color: #b8b8b8;
    border: 1px solid #f3f3f3;
    border: 1px solid rgba(0,0,0,0.05);
    cursor: default;
    pointer-events: none;
}
.button.disabled.active{
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}

.button-red.disabled, .button-red.disabled:hover, .button-red.disabled:active {
    border: 1px solid transparent;
    background-color: #d14836;
    color: #FFF;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.button.disabled img {
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.button-red:focus, .button-red.focus{
    box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
}

.button-red:focus, .button-red.focus{
    border-color:#d14836;
}

.button-red:focus:hover, .button-red.focus:hover{
    box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 0 0 1px #fff, 0px 1px 1px rgba(0,0,0,0.1);
}

.button-red {
    margin-bottom: 16px;
    border: 1px solid transparent;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing:1;
    background-color: #d14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
    background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
    background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
    background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
    background-image: -o-linear-gradient(top,#dd4b39,#d14836);
    background-image: linear-gradient(top,#dd4b39,#d14836);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#d14836');
    text-shadow: 0px 1px rgba(0,0,0,0.1);
}

.button-red:hover {
    border: 1px solid #b0281a;
    border-bottom: 1px solid #AF301F;
    color: #FFF;
    background-color: #c53727;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
    background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
    background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
    background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
    background-image: -o-linear-gradient(top,#dd4b39,#c53727);
    background-image: linear-gradient(top,#dd4b39,#c53727);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#c53727');

    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.button-red:active, .button-red:focus:active, .button-red.focus:active {
    border: 1px solid #992A1B;
    background-color: #b0281a;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
    background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
    background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
    background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
    background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
    background-image: linear-gradient(top,#dd4b39,#b0281a);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.3);
}

.button-red:visited {
    color: #FFF;
}



