<!DOCTYPE html>
<html>
  <head>
    <title>Test Gmail Schemas</title>
    <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/codemirror.css">
    <link rel="stylesheet" href="css/main.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/validator.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>

    <div class="map-appbar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="map-appname">Send Gmail Actions email</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <p id="flash"></p>
        </div>
        <div class="col-md-9">
          <p class="pull-right">
            Logged in as <strong>{{user}}</strong>. Sending email to <strong>{{user}}</strong>.
            <a href="{{logout_url}}">Log out</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form id="content_form">
            <div><textarea id="code" name="content">Paste email markup here</textarea></div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <select id="load-sample" class="button" style="-webkit-user-select: none;">
            <option value="">Load sample</option>
            <option value="/examples/oneclick/{{token}}">One-click action</option>
            <option value="/examples/rate/{{token}}">Rate action</option>
            <option value="/examples/track/{{token}}">Track action</option>
            <option value="/examples/goto/{{token}}">Go-to action</option>
            <option value="/examples/event-card/{{token}}">Event card</option>
            <option value="/examples/restaurant-card/{{token}}">Restaurant reservation card</option>
          </select>
        </div>
        <div class="col-md-6">
          <a id="send-email" class="button button-red pull-right">Send Email</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" id="client-log">
          <p></p>
        </div>
      </div>

    </div>

    <script>
      var token = '{{token}}';
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="js/codemirror-compressed.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </body>
</html>


